<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.webfortis809600" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Shopping App</name>
  <description>&#xD;
        Webfortis mobile app&#xD;
    </description>
  <author email="akothari@webfortis.com" href="http://webfortis.in/">&#xD;
      WFI Team India&#xD;
    </author>
  <gap:plugin name="nl.x-services.plugins.actionsheet" version="1.1.1" />
  <gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  <!--<gap:plugin name="org.apache.cordova.splashscreen" />-->
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="icon.png" />
  <gap:splash src="splash.png" />
  <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
  <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
  <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
  <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
  <icon gap:platform="blackberry" src="www/res/icon/blackberry/icon-80.png" />
  <icon gap:platform="blackberry" gap:state="hover" src="www/res/icon/blackberry/icon-80.png" />
  <icon gap:platform="ios" height="57" src="www/res/icon/ios/icon-57.png" width="57" />
  <icon gap:platform="ios" height="72" src="www/res/icon/ios/icon-72.png" width="72" />
  <icon gap:platform="ios" height="114" src="www/res/icon/ios/icon-57-2x.png" width="114" />
  <icon gap:platform="ios" height="144" src="www/res/icon/ios/icon-72-2x.png" width="144" />
  <icon gap:platform="webos" src="www/res/icon/webos/icon-64.png" />
  <icon gap:platform="winphone" src="www/res/icon/windows-phone/icon-48.png" />
  <icon gap:platform="winphone" gap:role="background" src="www/res/icon/windows-phone/icon-173-tile.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
  <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
  <gap:splash gap:platform="blackberry" src="www/res/screen/blackberry/screen-225.png" />
  <gap:splash gap:platform="ios" height="480" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
  <gap:splash gap:platform="ios" height="960" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
  <gap:splash gap:platform="ios" height="1136" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
  <gap:splash gap:platform="ios" height="1024" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
  <gap:splash gap:platform="ios" height="768" src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" />
  <gap:splash gap:platform="winphone" src="www/res/screen/windows-phone/screen-portrait.jpg" />
  <content src="index.html"/>
  <access origin="*"/>
</widget>