
<ion-view title="Our Promise">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <img src="../img/ceo.png" >
                <p>
                    <strong>
                        Webfortis
                    </strong>
                    has been designing, implementing, and maintaining CRM for well over 14 years. Over the decades, we’ve developed a way of working designed to guarantee your Webfortis experience is a positive one, not just at the beginning, but for the lifetime of our relationship. To that end, Webfortis has developed the Seven 1s, our commitment to you, scheduled by the second, minute, hour, day, week, month, and year.

                    Within the second. You send us the signed contract. We formally acknowledge receipt.

                    Within the minute. We’ll thank you for your commitment and welcome you to the process.

                    Within the hour. You’ll receive the counter-signed contract and your portal access.

                    Within the day. We’ll send you the paperwork to add us as a vendor.

                    With the week. We’ll schedule the kick-off date and time and mail your welcome packet.

                    Within the month. Your monthly reporting starts and the project is officially kicked off. We’re in partnership!

                    Within the year. We’ll engage with you for your health check-in (Maturity Model Assessment) and revisit service level agreements.

                    Ready to start the conversation? Connect with us at <strong>sales@webfortis.com</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>

