<ion-view>
    <ion-nav-title>

    </ion-nav-title>
    <ion-content>
         
        <!--<div class="list">
            <!--<label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="CustomerData.CustomerName">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="CustomerData.Email">
            </label>-->
            <h1 align="center">Enter Your Number</h1>
            <br />
            <label class="item item-input item-floating-label">
                <span class="input-label">Mobile</span>
                <input type="tel" placeholder="Mobile" ng-model="CustomerData.Mobile">
            </label>

            <!--<div class="padding">

                <button id="piclocation" class="button button-small button-positive" ng-show="piclocation" ng-click="getLocation()">Pick Geo Location</button>
            </div>-->

            <!--<label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="CustomerData.Password">
            </label>-->

        <!--</div>-->
        <div class="padding">
            <button id="SaveData" class="button button-block button-positive" ng-click="goforlocation()" >Sign In</button>
            <!--ng-click="save(CustomerData)"-->
        </div>
    </ion-content>
</ion-view>
